name: Deploy to EC2 instance

on:
  push:
    branches:
      - develop

# Install all pre in ec2 manully
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          yarn install

      - name: Build client and server
        run: |
          yarn build-server

      - name: Copy code to EC2 instance
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.INSTANCE_IP }}
          username: ${{ secrets.INSTANCE_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.INSTANCE_PORT }}
          source: "."
          target: "~/project"

